:root,
[data-style-mode='light'],
.light-mode,
[data-style-mode='dark'],
.dark-mode {
    --font-family: 'Open Sans', sans-serif;
    --font-family-header: 'Oswald', sans-serif;

    --dark-gray: #1f1f1f;
    --white: #ffffff;
    --black: #000000;
    --red: #e81f59;
    --blue: #004487;
    --gray: #e1e0e0;

    --opacity-on-hover: 0.7;
    --transition: all var(--p-transition-duration) ease-out;
    --max-container-width: 1440px;

    --background: var(--white);
    --p-text-color: var(--black);
    --link-color: var(--red);

    // BUTTONS
    --p-button-border-radius: 0;
    --p-button-padding-x: 3.5rem;
    --p-button-padding-y: 0.7rem;
    --p-button-icon-only-width: 50px;
    --p-button-primary-border-color: var(--red);
    --p-button-primary-hover-border-color: var(--red);
    --p-button-primary-background: var(--red);
    --p-button-primary-color: var(--white);
    --p-button-primary-hover-background: var(--red);
    --p-button-primary-hover-color: var(--white);
    --p-button-secondary-border-color: var(--black);
    --p-button-secondary-hover-border-color: var(--black);
    --p-button-secondary-background: var(--black);
    --p-button-secondary-color: var(--white);
    --p-button-secondary-hover-background: var(--black);
    --p-button-secondary-hover-color: var(--white);
    --p-button-sm-font-size: 14px;
    --p-button-sm-padding-y: 0.5rem;
    --p-button-sm-padding-x: 0.5rem;

    //MENUBAR
    --p-menubar-padding: 0;
    --p-menubar-base-item-padding: 0;
    --p-menubar-gap: 12px;
    --p-menubar-mobile-button-color: var(--black);
}
