* {
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: var(--background);
    font-family: var(--font-family);
    transition: var(--transition);
    min-height: 100vh;
    color: var(--p-text-color);
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-variant-numeric: lining-nums;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--red);
    text-decoration: underline;
    transition: var(--transition);
    opacity: 1;
    &:hover {
        text-decoration: underline;
        color: var(--red);
        opacity: var(--opacity-on-hover);
    }
    &.plain {
        text-decoration: none !important;
        border-bottom: none !important;
    }
}
.plain {
    text-decoration: none !important;
    cursor: pointer;
    transition: var(--transition);
    &:hover {
        opacity: var(--opacity-on-hover) !important;
    }
}

.container {
    width: 100%;
    max-width: var(--max-container-width) !important;
    margin: auto;
}

.text-white {
    color: var(--white) !important;
}
.text-blue {
    color: var(--blue) !important;
}
.text-red {
    color: var(--red) !important;
}

.border-blue {
    border: solid 1px var(--blue) !important;
    border-radius: var(--border-radius) !important;
}

.bg-blue {
    background-color: var(--blue) !important;
}
.bg-red {
    background-color: var(--red) !important;
}
.bg-gray {
    background-color: var(--gray) !important;
}

.bg-white-opacity {
    background-color: rgba(255, 255, 255, 0.7) !important;
}
.bg-black-opacity {
    background-color: rgba(0, 0, 0, 0.7) !important;
}
.bg-blue-opacity {
    background-color: rgba(0, 68, 135, 0.2) !important;
}

.p-divider.darker::before {
    border-block-start: 1px solid var(--medium-gray) !important;
}

.clickable {
    cursor: pointer;
    transition: var(--transition);
    &:hover {
        opacity: var(--opacity-on-hover);
    }
}

.background-color {
    background-color: var(--p-content-background);
}

.text-color {
    color: var(--p-text-color);
}
.inverse-text-color {
    color: var(--p-primary-inverse-color);
}

.contrast,
.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6,
.contrast p {
    background: var(--black);
    color: var(--white);
}
.contrast a,
.inverse a {
    color: var(--white);
}

// primevue overrides
.p-button {
    border-width: 2px !important;
    color: var(--white) !important;
    background: var(--red) !important;
    border: 2px solid var(--red) !important;
    border-radius: 0.25rem !important;
    transition: var(--transition) !important;
    &:hover {
        opacity: var(--opacity-on-hover) !important;
    }
}
.p-button .p-button-label {
    font-weight: 500 !important;
    text-transform: uppercase !important;
}
.p-button.p-button-sm .p-button-label {
    font-weight: 900 !important;
    font-size: 14px !important;
    line-height: 14px !important;
    text-transform: uppercase !important;
}
.pi-plus:before {
    font-weight: 900 !important;
    font-size: 22px !important;
}
.p-inputgroup .p-button {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.p-menubar {
    border: none !important;
    padding: 0 !important;
    background: var(--blue) !important;
}
.p-menubar-item-link {
    color: var(--white) !important;
    overflow: visible !important;
    padding: 0 !important;
}

// accessibility
// hide outline when using a mouse but not when using a keyboard
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}
[data-js-focus-visible] .p-button:focus:not([data-focus-visible-added]) {
    outline: none;
}
[data-js-focus-visible] .button:focus:not([data-focus-visible-added]) {
    outline: none;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
