@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;

@layer base {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    color: var(--text-color);
  }

  p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    @screen lg {
      font-size: 18px;
      line-height: 22px;
    }
  }

  h1,
  .like-h1 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    @screen lg {
      font-size: 60px;
      line-height: 60px;
    }
  }

  h2,
  .like-h2 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    @screen lg {
      font-size: 30px;
      line-height: 30px;
    }
  }

  h3,
  .like-h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
  }

  h4,
  .like-h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 19px;
    text-transform: uppercase;
  }

  label,
  .small {
    font-size: 14px;
    line-height: 18px;
    @screen lg {
      font-size: 16px;
      line-height: 20px;
    }
  }

  label {
    display: block;
  }
}
