@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;

@layer base {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    color: var(--text-color);
  }

  p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    @screen lg {
      font-size: 21px;
      line-height: 28px;
    }
  }

  h1,
  .like-h1 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    @screen lg {
      font-size: 60px;
      line-height: 60px;
    }
  }

  h2,
  .like-h2 {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 21px;
    line-height: 26px;
    color: #193b59;
    @screen lg {
      font-size: 34px;
      line-height: 43px;
    }
  }

  h3,
  .like-h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 41px;
  }

  h4,
  .like-h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    background: #468384;
    color: var(--white);
    padding: 12px;
    // width: fit-content;
    margin: 18px auto 0;
  }

  label,
  .small {
    font-size: 14px;
    line-height: 18px;
    @screen lg {
      font-size: 16px;
      line-height: 20px;
    }
  }

  label {
    display: block;
  }
}
